# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\竞赛\2021微信高校赛\复赛\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
